.simple-stream-icon {
	icon-size:30px;
}

.simple-stream-slider {
}

.simple-stream-container {
	spacing:5px;
}


.simple-stream-label {
	text-align: left;
}

.stream{
	spacing:8px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	width:20em;
}

.stream:alone{
	padding-right: 0.1em;
}


.stream:hover{
	background-color:#4c4c4c;
}

.sink-icon {
	icon-size:18px;
	clear:left;
}

.mpris-stream{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.mpris-label-subtext {
	font-weight: lighter;
	font-size: 70%;
	color: lightgray;
}
.mpris-meta-title {
	font-weight: bolder;
	font-size: 110%;
}

.mpris-meta-info {
	font-weight: bolder;

}

.mpris-album-art {
	icon-size:8em;
}

.mpris-metadata-display {
	spacing: 0.5em;
	/*
	padding-left: 0.3em;
	padding-right:0.3em;
	*/
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 0em;
	padding-top: 0.1em;
}

.mpris-time-display {
	spacing:0.1em;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 0.1em;
}

.mpris-metadata-display:alone {
	padding-top:0.8em;
	padding-left:0.3em;
}

.info-and-controls {
	width:14em;
}
.mpris-player-controls {
	padding-left:0.5em;
}

.mpris-player-controls > StButton{
	color: #e6e6e6;
}

.mpris-player-controls > StButton:hover {
	color: white;
	background-color: #4c4c4c;
}

.mpris-player-controls > StButton:disabled {
	color: #3f3f3f;
	border-color: #3f3f3f;
}

.mpris-player-controls > StButton:active {
    color: black;
    background-color: #6f6f6f;
}

.mpris-fullscreen-button > StIcon,
.mpris-play-order-controls > StButton > StIcon,
.mpris-player-controls > StButton > StIcon{
	icon-size:1.2em;
}

.mpris-play-button {
	border: 2px solid #5f5f5f;
	padding: 0.5em, 1em;
}

.mpris-play-button:alone {
	border-radius: 0.5em;
	padding: 0.2em;
}

.mpris-previous-button {
	border-radius: 0.5em 0em 0em 0.5em;
	border: 2px solid #5f5f5f;
	border-right: 0px;
	padding:0.5em;
}

.mpris-next-button {
	border-radius: 0em 0.5em 0.5em 0em;
	border: 2px solid #5f5f5f;
	border-left: 0px;
	padding:0.5em;
}

.mpris-fullscreen-button {
	border-radius: 0.5em;
	border: 2px solid #5f5f5f;
	padding: 0.5em;
}

.mpris-shuffle-button {
	border-radius: 0.5em 0em 0em 0.5em;
	border: 2px solid #5f5f5f;
	border-right: 1px;
	padding:0.5em;
}

.mpris-repeat-button {
	border-radius: 0em 0.5em 0.5em 0em;
	border: 2px solid #5f5f5f;
	border-left: 1px;
	padding:0.5em;
}