.simple-stream-icon {
	icon-size:30px;
}

.simple-stream-slider {
}

.simple-stream-container {
	spacing:5px;
}


.simple-stream-label {
	text-align: left;
}

.stream{
	spacing:8px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	width:20em;
}

.stream:hover{
	background-color:#4c4c4c;
}

.sink-icon {
	icon-size:20px;
}
